extends ./index.pug

block content
    h2 TV Shows
    table(border=1)
        tr
            td ID
            td Title
            td Release Date
            td Genre
            td Duration (minutes)
            td Network
            td Subscription Tier
        for tvShow in tvShows
            tr
                td #{tvShow.ID}
                td #{tvShow.Title}
                td #{tvShow.Release_Date}
                td #{tvShow.Genre}
                td #{tvShow.Duration}
                td #{tvShow.Network}
                td #{tvShow.Subscription_Tier}